body {
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}
code {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    height: 100%;
}